@import "tailwindcss";

:root {
  --bg-main: #121212;
  --bg-highlight: #1f1f1f;
  --bg-elevated-main: #1f1f1f;
  --bg-elevated-highlight: #2a2a2a;
  --bg-secondary: #7c7c7c;
  --bg-brand: #1ed760;
  --bg-primary: #fff;
  --text-primary: #fff;
  --text-secondary: #7c7c7c;
}

@theme inline {
  --color-bg-main: var(--bg-main);
  --color-bg-highlight: var(--bg-highlight);
  --color-bg-elevated-main: var(--bg-elevated-main);
  --color-bg-elevated-highlight: var(--bg-elevated-highlight);
  --color-bg-brand: var(--bg-brand);
  --color-bg-primary: var(--bg-primary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--bg-main);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
